<p id="notice"><%= notice %></p>

<p>
  <strong>Player x:</strong>
  <%= @match.player_x %>
</p>

<p>
  <strong>Player o:</strong>
  <%= @match.player_o %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
