<!DOCTYPE html>
<html>
<head>
  <title>Tictactoe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>

    

    
    <%= nav_bar :brand => "xoxo",:brand_link => new_user_session_path,:fixed => :top, :responsive => true do %>
   


    <%= menu_group :pull => :right do %>
    <% if current_user %>
    <%= menu_item "Log Out", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= menu_item "Sign In", new_user_session_path %>
    <%= menu_item "Register", new_user_registration_path %>
    <% end %>
    <% end %>

    <%= menu_group do %>

    <%= menu_divider %>
<% if current_user %>
    <%= menu_item "#{current_user.try(:name)}",  user_path(current_user.id) %>
    <% end %>

    <% if current_user %>
    <%= menu_item "All Matches", matches_path %>
    <% end %>

    <% if current_user %>
    <%= menu_item "Arena", new_match_path %>
    <% end %>

  <% if current_user %>
    <%= menu_item "All Players", users_path %>
    <% end %>




    <% end %>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<%= yield %>

</body>
</html>

<% end %>
